@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Questrial&display=swap');

.card-body h4 {
    font-family: 'Oleo Script', cursive;
    font-size: 24px;
}

.card-color {
    background: #01579B;
}

.card-heigth {
    height: 180px;
}

.degraded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(185, 185, 185, 0.7));
    z-index: -1;
}

.degraded-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(237, 187, 187, 0.7), rgba(152, 109, 109, 0.7));
    z-index: -1;
}

.hero-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}

.hero-text-h1 {
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.hero-text-p {
    font-family: 'Questrial', sans-serif;
    font-style: italic;
    font-size: 20px;
}

.logo-text {
    font-family: 'Oleo Script', cursive;
    font-size: 25px;
}

.navbar {
    background: #F6F6F6;
}

.navbar-nav a {
    font-family: 'Oleo Script', cursive;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.1s ease;
}

.navbar-light .navbar-brand {
    color: #000000;
    font-size: 25px;
    font-weight: bold;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #000000;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #000000;
}

.w-100 {
    height: 100vh;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #F6F6F6;
}

.text {
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
}

.text-nosotros {
    font-family: 'Questrial', sans-serif;
    font-style: italic;
    font-size: 15px;
    text-align: justify;
}

.text-about {
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}

.text-about-p {
    font-family: 'Questrial', sans-serif;
    font-style: italic;
    font-size: 25px;
    text-align: justify;
}

.section-header h2 {
    font-family: 'Oleo Script', cursive;
    font-size: 35px;
}

.section-header p {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
}

#footer {
    background: #343b40;
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
}

#footer .copyright {
    text-align: center;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
}

.redes-sociales {
    font-size: 30px;
    color: #F6B1A4;
}

/* Estilos para el icono */
i.login {
    color: #000000; /* Color inicial del icono */
  }
  
  /* Estilos para el icono cuando el input tiene el foco */
  input:focus + i.login {
    color: #F6B1A4; /* Cambiar el color del icono cuando el input tiene el foco */
  }

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    width: 90%;
    max-width: 450px;
    position: relative;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }

  .form-group{
    position: relative;
    margin-bottom:15px;
  }
  .form-control{
    width:100%;
    height:50px;
    border:none;
    padding:5px 7px 5px 15px;
    background:#fff;
    color:#666;
    border:2px solid #ddd;
  }
  .form-group .bx{
    position: absolute;
    right:15px;
    top:17px;
    color:#999;
  }  

 h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }
  
  
  /* TABS */
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #F6B1A4;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
  
  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #F6B1A4;
    border: none;
    color: #FFFFFF;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    -webkit-box-shadow: 0 10px 30px 0 rgba(231, 140, 184, 0.4);
    box-shadow: 0 10px 30px 0 rgba(231, 140, 184, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #FBA493;
    color: #FFFFFF;
    font-weight: bold;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  @media (max-width: 765px) {
    input[type=button], input[type=submit], input[type=reset] {
        padding: 10px 20px; /* Ajusta el padding para pantallas pequeñas */
        font-size: 12px;    /* Ajusta el tamaño de fuente para pantallas pequeñas */
        /* Otros ajustes de estilo que desees */
    }
  }
    
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #F6B1A4;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  
  
  /* OTHERS */
  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:60%;
  }
  
  * {
    box-sizing: border-box;
  }